main{
    display:inline-block;
}
nav{
    position:fixed;
    width:30%;
    padding:30px 0px;
    border-style: solid;
    border-color:#99A2A2;;
    border-width: 0px 2px 0px 0px;
}
nav h2{
 padding: 0px 30px;
}
nav ul{
    padding:0px;
    list-style-type: none;
}
nav ul li{
    border-style: solid;
    border-color:#99A2A2;;
    border-width: 2px 0px 0px 0px;
    padding:10px 30px;    
}
nav ul li a{
    text-decoration: none;
    color:#99A2A2;
}
section{
    width:70%;
    padding:30px;
    position:absolute;
    left:30%;
}
code{
    background-color: #F7F7F7;
    padding:20px;
    display:block;
    margin:20px;
}